# API 
API_NAME=Data Lineage Tracker omar essam
API_VERSION=1.0.0

# Database
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NAME=data_lineage_tracker
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

TEST_DATABASE_NAME=data_lineage_tracker_test